# Database Configuration
POSTGRES_DB=payverify
POSTGRES_USER=payverify
POSTGRES_PASSWORD=payverify
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django Configuration
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Hikvision Settings
HIK_VISITOR_EMPLOYEE_NO=VISITOR
